<div class="relative">
    <input id="{{name}}" name="{{name}}" type="{{type}}" class="text-input" value="{{value}}" placeholder=" "/>
    <label for="{{name}}" class="text-input-label">{{placeholder}}</label>
</div>
