<div class="flex w-100 avatar-div {{className}}">
    <div class="{{iconClass}}">
        {{#if svg }}
            {{svg}}
        {{else}}
            {{> SVGAvatarEmpty }}
        {{/if}}
    </div>
    {{#if text}}
        <p class="avatar-text">
            {{text}}
        </p>
    {{/if}}
</div>
