<div class="flex flex avatar-div {{className}}">
    <div class="{{iconClass}}" title="{{text}}">
        {{#if icon }}
            {{icon}}
        {{else}}
            {{> SVGAvatarEmpty }}
        {{/if}}
    </div>
</div>
